:root {
    background-color: darkcyan;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6{
    font-size: 1.125rem;
}

p {
    color:rgb(255, 240, 175);
}

header {
    margin: 3rem 0;
    text-align: center;
    color: rgb(255, 228, 107);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#roundsForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 45vw;
    height: 45vh;
}

#roundsForm input {
    font-size: 3rem;
    text-align: center;
    background-color: rgb(255, 240, 175);
    color:rgb(0, 60, 116);
}

#roundsForm label{
    font-size: 1.25rem;
    font-weight: 700;
    margin: 1rem;
    color: rgb(255, 240, 175);
}

#roundsForm button {
    font-size: 2rem;
    padding: 1rem;
    width: 20vw;
    border: 2px solid  rgb(255, 240, 175);
    background-color: rgb(41, 125, 173);
    color: white;
}

#productDisplay {
    display: flex;
    justify-content: center;
}

#productDisplay img{
    width: 400px;
    height: 400px;
    margin: 1rem;
}

#results {
    font-size: 2rem;
    padding: 1rem;
    width: 20vw;
    border: 2px solid rgb(255, 240, 175);
    background-color: rgb(41, 125, 173);
    color: white;
    display: none;
}